In [19]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import joblib
from sklearn.cluster import KMeans
from kmodes.kmodes import KModes
from kmodes.kprototypes import KPrototypes

In [20]:
df = pd.read_csv('cleaned_census.csv')
df.head(1)

,Unnamed: 0,nchild,nchild_under_5,nsibs,eldch,sex,age,occ1950,ed_group_h
0,0,0,0,0,0,Male,43,Operative and kindred workers (nec),1

In [21]:
df.drop(['Unnamed: 0', 'ed_group_h'], axis=1,inplace=True)

In [22]:
df.head(10)

,nchild,nchild_under_5,nsibs,eldch,sex,age,occ1950
0,0,0,0,0,Male,43,Operative and kindred workers (nec)
1,0,0,0,0,Male,28,"Managers, officials, and proprietors (nec)"
2,3,0,0,15,Male,36,Foremen (nec)
3,0,0,0,0,Male,48,"Managers, officials, and proprietors (nec)"
4,2,2,0,2,Male,27,Salesmen and sales clerks (nec)
5,0,0,0,0,Male,60,Purchasing agents and buyers (nec)
6,0,0,0,0,Male,69,"Lumbermen, raftsmen, and woodchoppers"
7,0,0,0,0,Male,44,"Managers, officials, and proprietors (nec)"
8,0,0,1,0,Male,54,Bookkeepers
9,0,0,0,0,Male,73,Foremen (nec)

In [23]:
df.dtypes

nchild             int64
nchild_under_5     int64
nsibs              int64
eldch              int64
sex               object
age                int64
occ1950           object
dtype: object

In [24]:
x = df.values

In [25]:
x

array([[0, 0, 0, ..., 'Male', 43, 'Operative and kindred workers (nec)'],
       [0, 0, 0, ..., 'Male', 28,
        'Managers, officials, and proprietors (nec)'],
       [3, 0, 0, ..., 'Male', 36, 'Foremen (nec)'],
       ...,
       [2, 0, 0, ..., 'Male', 37, 'Buyers and dept heads, store'],
       [6, 3, 0, ..., 'Male', 29, 'Dispatchers and starters, vehicle'],
       [1, 0, 0, ..., 'Male', 46,
        'Managers, officials, and proprietors (nec)']], dtype=object)

In [26]:
kproto = KPrototypes(n_clusters=4, max_iter=20, verbose=2)

In [ ]:
kproto.fit_predict(x, categorical=[4,6])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 42787, ncost: 14995474.431191154
Run: 1, iteration: 2/20, moves: 17873, ncost: 14455237.058287732
Run: 1, iteration: 3/20, moves: 9801, ncost: 14240670.42384166
Run: 1, iteration: 4/20, moves: 6826, ncost: 14138284.815618498
Run: 1, iteration: 5/20, moves: 4878, ncost: 14084824.810047533
Run: 1, iteration: 6/20, moves: 3746, ncost: 14051455.53330335
Run: 1, iteration: 7/20, moves: 2401, ncost: 14036721.369173026
Run: 1, iteration: 8/20, moves: 1745, ncost: 14029058.016951222
Run: 1, iteration: 9/20, moves: 1709, ncost: 14015014.921290936
Run: 1, iteration: 10/20, moves: 2423, ncost: 13999776.010823485
Run: 1, iteration: 11/20, moves: 852, ncost: 13997641.132739928
Run: 1, iteration: 12/20, moves: 576, ncost: 13996572.553235598
Run: 1, iteration: 13/20, moves: 377, ncost: 13996124.532194939
Run: 1, iteration: 14/20, moves: 212, ncost: 13995961.26245364
Run: 1, iteration: 15/20, moves: 42, ncost: 13995955.788319277
Run: 1, iteration: 16/20, moves: 1, ncost: 13995955.785230724
Run: 1, iteration: 17/20, moves: 0, ncost: 13995955.785230724
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 18214, ncost: 14040158.505396392
Run: 2, iteration: 2/20, moves: 4275, ncost: 14008281.53639603
Run: 2, iteration: 3/20, moves: 2117, ncost: 13996839.019364877
Run: 2, iteration: 4/20, moves: 516, ncost: 13996219.066440832
Run: 2, iteration: 5/20, moves: 224, ncost: 13995963.9426797
Run: 2, iteration: 6/20, moves: 49, ncost: 13995955.81302441
Run: 2, iteration: 7/20, moves: 3, ncost: 13995955.785230724
Run: 2, iteration: 8/20, moves: 0, ncost: 13995955.785230724
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 39613, ncost: 14271328.270042626
Run: 3, iteration: 2/20, moves: 14118, ncost: 14006840.429723578
Run: 3, iteration: 3/20, moves: 2779, ncost: 13997058.520081593
Run: 3, iteration: 4/20, moves: 650, ncost: 13996301.556664841
Run: 3, iteration: 5/20, moves: 337, ncost: 13995978.4522079
Run: 3, iteration: 6/20, moves: 92, ncost: 13995955.85436429
Run: 3, iteration: 7/20, moves: 5, ncost: 13995955.785230724
Run: 3, iteration: 8/20, moves: 0, ncost: 13995955.785230724
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 41249, ncost: 19272264.37486034
Run: 4, iteration: 2/20, moves: 39090, ncost: 15686525.418419823
Run: 4, iteration: 3/20, moves: 21869, ncost: 14658449.810128327
Run: 4, iteration: 4/20, moves: 12700, ncost: 14336284.690305708
Run: 4, iteration: 5/20, moves: 8407, ncost: 14187999.038951674
Run: 4, iteration: 6/20, moves: 6046, ncost: 14108528.635127313
Run: 4, iteration: 7/20, moves: 4075, ncost: 14068072.621571701
Run: 4, iteration: 8/20, moves: 3222, ncost: 14043885.502535203
Run: 4, iteration: 9/20, moves: 2072, ncost: 14032586.09564579
Run: 4, iteration: 10/20, moves: 1429, ncost: 14027374.825435683
Run: 4, iteration: 11/20, moves: 2281, ncost: 14005177.235516792
Run: 4, iteration: 12/20, moves: 1728, ncost: 13998727.040643325
Run: 4, iteration: 13/20, moves: 693, ncost: 13997205.47105806
Run: 4, iteration: 14/20, moves: 498, ncost: 13996393.269162621
Run: 4, iteration: 15/20, moves: 325, ncost: 13996002.028854337
Run: 4, iteration: 16/20, moves: 130, ncost: 13995955.895987274
Run: 4, iteration: 17/20, moves: 6, ncost: 13995955.785230724
Run: 4, iteration: 18/20, moves: 0, ncost: 13995955.785230724
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 36672, ncost: 14802445.717923075
Run: 5, iteration: 2/20, moves: 18907, ncost: 14221219.03045638
Run: 5, iteration: 3/20, moves: 8282, ncost: 14100647.58199634
Run: 5, iteration: 4/20, moves: 4173, ncost: 14054798.922534628
Run: 5, iteration: 5/20, moves: 3249, ncost: 14027917.708718209
Run: 5, iteration: 6/20, moves: 2526, ncost: 14012391.792857362
Run: 5, iteration: 7/20, moves: 1663, ncost: 14005174.848888172
Run: 5, iteration: 8/20, moves: 908, ncost: 14001987.000234438

In [ ]:
from sklearn.externals import joblib

joblib.dump(kproto, "model_proto_features.pkl")