### Read in Data

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib
import seaborn as sns
import math
import sys
%matplotlib inline

census = pd.read_csv('./census_ml.csv')
census.head()

C:\Users\48733\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

,year,sample,serial,hhwt,cluster,perwt,nchild,nchild_under_5,nsibs,eldch,sex,age,birthyr,race,educ,ed_var_detailed,occ,occ1950,ed_group_h
0,1960,1960 5%,69847,20,1.960000e+12,20,0 children present,No children under age 5,0 siblings,NaN,Male,43,1916,White,"Grade 5, 6, 7, or 8",Grade 8,775,Operative and kindred workers (nec),1
1,1960,1960 5%,2619724,20,1.960030e+12,20,0 children present,No children under age 5,0 siblings,NaN,Male,28,1931,White,Grade 12,Grade 12,290,"Managers, officials, and proprietors (nec)",2
2,1960,1960 5%,2283283,20,1.960020e+12,20,3,No children under age 5,0 siblings,15,Male,36,1923,White,Grade 10,Grade 10,430,Foremen (nec),1
3,1960,1960 5%,2367708,20,1.960020e+12,20,0 children present,No children under age 5,0 siblings,NaN,Male,48,1912,White,Nursery school to grade 4,Grade 3,290,"Managers, officials, and proprietors (nec)",1
4,1960,1960 5%,508827,20,1.960010e+12,20,2,2,0 siblings,2,Male,27,1932,White,Grade 11,Grade 11,394,Salesmen and sales clerks (nec),1

### Clean continuous variables

In [2]:
census.isnull().sum()

year                   0
sample                 0
serial                 0
hhwt                   0
cluster                0
perwt                  0
nchild                 0
nchild_under_5         0
nsibs                  0
eldch              78438
sex                    0
age                    0
birthyr                0
race                   0
educ                   0
ed_var_detailed        0
occ                    0
occ1950                0
ed_group_h             0
dtype: int64

#### Cleaning census['eldch']

In [3]:
census['eldch'].unique()

array([nan, '15', '2', '21', '12', '13', '11', '29', '17', '16', '14',
       'Less than 1 year old', '38', '8', '3', '10', '1', '5', '6', '9',
       '31', '4', '26', '24', '23', '19', '7', '22', '18', '55', '20',
       '27', '53', '35', '34', '37', '28', '36', '25', '60', '33', '52',
       '68', '39', '49', '32', '50', '56', '30', '41', '57', '44', '47',
       '42', '48', '46', '51', '43', '74', '54', '40', '72', '45', '71',
       '59', '66', '62', '58', '65', '63', '61', '73', '69', '64', '70',
       '67', '87'], dtype=object)

In [4]:
census['eldch'] = np.where((census['eldch'] == 'Less than 1 year old'),
                           0, census['eldch'])

In [5]:
census["eldch"].fillna(0, inplace = True)

In [6]:
census['eldch'][2]
print(type(census['eldch'][2]))

<class 'str'>

In [7]:
for i in range(88):
    census['eldch'] = np.where((census['eldch'] == str(i)),
                           int(i), census['eldch'])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87

In [8]:
census['eldch'][2]
#print(type(census['eldch'][2]))

15

#### Cleaning census['nchild]

In [9]:
census['nchild'].unique()

array(['0 children present', '3', '2', '4', '5', '1 child present', '6',
       '7', '9+', '8'], dtype=object)

In [10]:
census['nchild'] = np.where((census['nchild'] == '0 children present'),
                           0, census['nchild'])

In [11]:
census['nchild'] = np.where((census['nchild'] == '1 child present'),
                           1, census['nchild'])

In [12]:
census['nchild'] = np.where((census['nchild'] == '9+'),
                           11, census['nchild'])

In [13]:
for i in range(12):
    census['nchild'] = np.where((census['nchild'] == str(i)),
                           int(i), census['nchild'])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

#### Cleaning census['nchild_under_5']

In [14]:
census['nchild_under_5'].unique()

array(['No children under age 5', '2', '1 child under age 5', '3', '4',
       '5', '6'], dtype=object)

In [15]:
census['nchild_under_5'] = np.where((census['nchild_under_5'] == 'No children under age 5'),
                           0, census['nchild_under_5'])

census['nchild_under_5'] = np.where((census['nchild_under_5'] == '1 child under age 5'),
                           1, census['nchild_under_5'])

In [16]:
for i in range(7):
    census['nchild_under_5'] = np.where((census['nchild_under_5'] == str(i)),
                           int(i), census['nchild_under_5'])
    print(i)

0
1
2
3
4
5
6

#### Cleaning census['nsibs']

In [17]:
census['nsibs'].unique()

array(['0 siblings', '1 sibling', '4 siblings', '2 siblings',
       '3 siblings', '5 siblings', '6 siblings'], dtype=object)

In [18]:
census['nsibs'] = np.where((census['nsibs'] == '1 sibling'),
                           '1 siblings', census['nsibs'])

In [19]:
for i in range(7):
    census['nsibs'] = np.where((census['nsibs'] == (str(i) + ' siblings')),
                           int(i), census['nsibs'])
    print(i)

0
1
2
3
4
5
6

#### Cleaning census['age']

In [20]:
census['age'].unique()

array(['43', '28', '36', '48', '27', '60', '63', '69', '44', '54', '73',
       '55', '47', '53', '39', '40', '41', '35', '64', '42', '50', '23',
       '38', '57', '46', '31', '76', '70', '32', '22', '25', '45', '30',
       '65', '52', '49', '67', '26', '37', '58', '77', '62', '61', '78',
       '33', '34', '56', '51', '74', '59', '79', '24', '82', '81', '29',
       '20', '66', '68', '72', '71', '75', '85', '21', '93', '19', '80',
       '88', '84', '90 (90+ in 1980 and 1990)', '18', '83', '86', '87',
       '17', '91', '16', '92', '94', '15', '98', '89', '14',
       '100 (100+ in 1960-1970)', '95', '97', '96', '99'], dtype=object)

In [21]:
census['age'] = np.where((census['age'] == "90 (90+ in 1980 and 1990)"),
                           '90', census['age'])

census['age'] = np.where((census['age'] == "100 (100+ in 1960-1970)"),
                           '100', census['age'])

In [22]:
for i in range(101):
    census['age'] = np.where((census['age'] == str(i)),
                           int(i), census['age'])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#### Drop unnnecessary variables

In [23]:
census.drop(['year', 'sample', 'serial', 'hhwt', 'cluster', 'perwt', 'birthyr', 'occ', 'educ', 'race'], axis=1, inplace=True)

In [24]:
census.head(5)

,nchild,nchild_under_5,nsibs,eldch,sex,age,ed_var_detailed,occ1950,ed_group_h
0,0,0,0,0,Male,43,Grade 8,Operative and kindred workers (nec),1
1,0,0,0,0,Male,28,Grade 12,"Managers, officials, and proprietors (nec)",2
2,3,0,0,15,Male,36,Grade 10,Foremen (nec),1
3,0,0,0,0,Male,48,Grade 3,"Managers, officials, and proprietors (nec)",1
4,2,2,0,2,Male,27,Grade 11,Salesmen and sales clerks (nec),1

#### Cleaning census['race']

In [25]:
census['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [26]:
gender_num = {'Male': 0, 'Female': 1}

census['sex'] = census['sex'].map(gender_num)

In [27]:
census['sex'].unique()

array([0, 1], dtype=int64)

In [28]:
census['ed_var_detailed'].unique()

array(['Grade 8', 'Grade 12', 'Grade 10', 'Grade 3', 'Grade 11',
       'Grade 2', 'Grade 4', '4 years of college', 'Grade 9', 'Grade 7',
       '2 years of college', '1 year of college',
       '6 years of college (6+ in 1960-1970)', 'Grade 6',
       '5+ years of college', 'Grade 5', 'No schooling completed',
       'Grade 1', 'Some college, but less than 1 year',
       '3 years of college', 'Kindergarten'], dtype=object)

In [29]:
educ_num = {'Grade 8': 11, 
            'Grade 12':16,
            'Grade 10':14,
            'Grade 3': 5,
            'Grade 11': 15,
            'Grade 2': 4,
            'Grade 4': 6,
            '4 years of college': 22,
            'Grade 9': 12,
            'Grade 7': 10,
            '2 years of college': 19,
            '1 year of college': 18,
            '6 years of college (6+ in 1960-1970)': 26,
            'Grade 6': 9,
            '5+ years of college': 23,
            'Grade 5': 7,
            'No schooling completed': 1,
            'Grade 1': 3,
            'Some college, but less than 1 year': 17,
            '3 years of college' : 20,
            'Kindergarten': 1
           }

In [30]:
census['ed_var_detailed'] = census['ed_var_detailed'].map(educ_num)

In [31]:
census.head(5)

,nchild,nchild_under_5,nsibs,eldch,sex,age,ed_var_detailed,occ1950,ed_group_h
0,0,0,0,0,0,43,11,Operative and kindred workers (nec),1
1,0,0,0,0,0,28,16,"Managers, officials, and proprietors (nec)",2
2,3,0,0,15,0,36,14,Foremen (nec),1
3,0,0,0,0,0,48,5,"Managers, officials, and proprietors (nec)",1
4,2,2,0,2,0,27,15,Salesmen and sales clerks (nec),1

In [32]:
census['occ1950'].unique()

array(['Operative and kindred workers (nec)',
       'Managers, officials, and proprietors (nec)', 'Foremen (nec)',
       'Salesmen and sales clerks (nec)',
       'Purchasing agents and buyers (nec)', 'N/A (blank)',
       'Lumbermen, raftsmen, and woodchoppers', 'Bookkeepers',
       'Carpenters', 'Clerical and kindred workers (n.e.c.)',
       'Gardeners, except farm and groundskeepers',
       'Farmers (owners and tenants)', 'Members of the armed services',
       'Officials, lodge, society, union, etc.', 'Pharmacists',
       'Occupation missing/unknown', 'Biological scientists',
       'Deliverymen and routemen', 'Sawyers', 'Janitors and sextons',
       'Technicians (nec)', 'Stationary engineers', 'Machinists',
       'Mechanics and repairmen (nec)',
       'Filers, grinders, and polishers, metal',
       'Attendants, recreation and amusement',
       'Barbers, beauticians, and manicurists',
       'Tool makers, and die makers and setters', 'Testing-technicians',
       'Laborers (nec)', 'Teachers (n.e.c.)',
       'Personnel and labor relations workers',
       'Painters, except construction or maintenance',
       'Farm laborers, wage workers', 'Foresters and conservationists',
       'Draftsmen', 'Mechanical-Engineers', 'Policemen and detectives',
       'Editors and reporters', 'Stationary firemen',
       'Musicians and music teachers', 'Clergymen',
       'Meat cutters, except slaughter and packing house',
       'Plumbers and pipe fitters', 'Waiters and waitresses',
       'Private household workers (nec)', 'Charwomen and cleaners',
       'Civil-Engineers', 'Painters, construction and maintenance',
       'Accountants and auditors',
       'Linemen and servicemen, telegraph, telephone, and power',
       'Dentists', 'Artists and art teachers',
       'Stenographers, typists, and secretaries', 'Cabinetmakers',
       'Bartenders', 'Attendants, hospital and other institution',
       'Brickmasons,stonemasons, and tile setters', 'Bus drivers',
       'Sailors and deck hands', 'Bookbinders',
       'Insurance agents and brokers', 'Welders and flame cutters',
       'Officers, pilots, pursers and engineers, ship',
       'Automobile-mechanics and repairmen', 'Paperhangers',
       'Mail carriers', 'Guards, watchmen, and doorkeepers',
       'Mine operatives and laborers', 'Truck and tractor drivers',
       'Therapists and healers (nec)', 'Switchmen, railroad',
       'Taxicab drivers and chauffeurs', 'Physicians and surgeons',
       'Porters', 'Shipping and receiving clerks', 'Electricians',
       'Garage laborers and car washers and greasers',
       'Office machine operators',
       'Officials and administratators (nec), public administration',
       'Excavating, grading, and road machinery operators',
       'Tinsmiths, coppersmiths, and sheet metal workers',
       'Oilers and greaser, except auto', 'Conductors, railroad',
       'Cranemen,derrickmen, and hoistmen', 'Boilermakers',
       'Weavers, textile', 'Medical and dental-technicians', 'Cashiers',
       'Molders, metal', 'Photographers', 'Stock and bond salesmen',
       'Pressmen and plate printers, printing',
       'Counter and fountain workers', 'Industrial-Engineers',
       'Professional, technical and kindred workers (nec)',
       'Social and welfare workers, except group', 'Nurses, professional',
       'Lawyers and judges', 'Aeronautical-Engineers',
       'Entertainers (nec)', 'Designers', 'Electrical-Engineers',
       'Compositors and typesetters', 'Bank tellers',
       'Roofers and slaters', 'Ticket, station, and express agents',
       'Brakemen, railroad', 'Airplane-mechanics and repairmen',
       'Boatmen, canalmen, and lock keepers',
       'Airplane pilots and navigators', 'Locomotive firemen',
       'Agents (nec)', 'Service workers, except private household (nec)',
       'Chemists', 'Optometrists',
       'Radio and television-mechanics and repairmen',
       'Misc. natural scientists', 'Furnacemen, smeltermen and pourers',
       'Telephone operators', 'Real estate agents and brokers',
       'Housekeepers and stewards, except private household',
       'Millwrights', 'Buyers and dept heads, store', 'Newsboys',
       'Engineers (nec)', 'Farm managers', 'Psychologists',
       'Apprentices, trade not specified', 'Firemen, fire protection',
       'Structural metal workers', 'Locomotive engineers',
       'Shoemakers and repairers, except factory',
       'Craftsmen and kindred workers (nec)', 'Plasterers',
       'Attendants, auto service and parking',
       'Collectors, bill and account', 'Tailors and tailoresses',
       'Jewelers, watchmakers, goldsmiths, and silversmiths',
       'Loom fixers', 'Inspectors, public administration',
       'Cooks, except private household', 'Credit men', 'Bakers',
       'Laundry and dry cleaning Operatives',
       'Cement and concrete finishers', 'Authors',
       'Sports instructors and officials', 'College presidents and deans',
       'Fishermen and oystermen',
       'Managers and superintendants, building',
       'Social sciences (nec)-Professors and instructors',
       'Hucksters and peddlers', 'Surveyors',
       'Photographic process workers',
       'Heat treaters, annealers, temperers',
       'Dispatchers and starters, vehicle', 'Farm foremen',
       'Practical nurses', 'Power station operators',
       'Geologists and geophysicists',
       'Subject not specified-Professors and instructors',
       'Office machine-mechanics and repairmen',
       'Attendants, professional and personal service (nec)',
       'Advertising agents and salesmen', 'Dietitians and nutritionists',
       'Recreation and group workers', 'Blacksmiths', 'Upholsterers',
       'Ushers, recreation and amusement', 'Architects',
       'Engineering-Professors and instructors', 'Postmasters',
       'Elevator operators',
       'Railroad and car shop-mechanics and repairmen',
       'Funeral directors and embalmers',
       'Decorators and window dressers', 'Forgemen and hammermen',
       'Watchmen (crossing) and bridge tenders', 'Inspectors (nec)',
       'Farm laborers, unpaid family workers',
       'Motormen, mine, factory, logging camp, etc',
       'Bricklayers and masons apprentice', 'Job setters, metal',
       'Non-scientific subjects-Professors and instructors',
       'Mining-Engineers', 'Sheriffs and bailiffs', 'Physicists',
       'Mathematics-Professors and instructors',
       'Opticians and lens grinders and polishers',
       'Buyers and shippers, farm products', 'Spinners, textile',
       'Teamsters', 'Chainmen, rodmen, and axmen, surveying',
       'Metallurgical, metallurgists-Engineers',
       'Mechanics, except auto apprentice',
       'Inspectors, scalers, and graders log and lumber',
       'Economics-Professors and instructors',
       'Longshoremen and stevedores', 'Agricultural scientists',
       'Pattern and model makers, except paper', 'Librarians',
       'Attendants, physicians and dentists office', 'Chemical-Engineers',
       'Boarding and lodging house keepers', 'Economists',
       'Medical Sciences-Professors and instructors',
       'Electrotypers and stereotypers',
       'Physics-Professors and instructors', 'Veterinarians',
       'Machinists and toolmakers apprentice', 'Radio operators',
       'Biological sciences-Professors and instructors',
       'Farm service laborers, self-employed',
       'Motion picture projectionists', 'Rollers and roll hands, metal',
       'Express messengers and railway mail clerks', 'Heaters, metal',
       'Stone cutters and stone carvers', 'Religious workers',
       'Plumbers and pipe fitters apprentice',
       'Messengers and office boys', 'Farm and home management advisors',
       'Telegraph operators', 'Photoengravers and lithographers',
       'Electricians apprentice', 'Asbestos and insulation workers',
       'Baggagemen, transportation', 'Engravers, except photoengravers',
       'Actors and actresses', 'Glaziers',
       'Dressmakers and seamstresses, except factory',
       'Agricultural sciences-Professors and instructors', 'Osteopaths',
       'Auctioneers', 'Motormen, street, subway, and elevated railway',
       'Floormen and floor managers, store', 'Marshals and constables',
       'Fruit, nut, and vegetable graders, and packers, except facto',
       'Blasters and powdermen', 'Conductors, bus and street railway',
       'Dyers', 'Chiropractors', 'Piano and organ tuners and repairmen',
       'Attendants and assistants, library',
       'Dancers and dancing teachers', 'Auto mechanics apprentice',
       'Chemistry-Professors and instructors',
       'Housekeepers, private household', 'Athletes',
       'Apprentices, printing  trades',
       'Millers, grain, flour, feed, etc', 'Furriers',
       'Laundresses, private household',
       'Apprentices, metalworking trades (nec)', 'Carpenters apprentice',
       'Geology and geophysics-Professors and instructors',
       'Statisticians and actuaries',
       'Psychology-Professors and instructors',
       'Statistics-Professors and instructors',
       'Apprentices, other specified trades', 'Misc social scientists',
       'Mathematicians', 'Telegraph messengers', 'Demonstrators',
       'Apprentices, building trades (nec)', 'Bootblacks', 'Milliners',
       'Nurses, student professional',
       'Natural science (nec)-Professors and instructors'], dtype=object)

In [33]:
census['occ1950'] = np.where((census['occ1950'] == 'N/A (blank)'),
                           float('nan'), census['occ1950'])

census['occ1950'] = np.where((census['occ1950'] == 'Occupation missing/unknown'),
                           float('nan'), census['occ1950'])

In [34]:
census['occ1950'].value_counts()

Managers, officials, and proprietors (nec)          20008
Operative and kindred workers (nec)                 18036
Farmers (owners and tenants)                        11413
Salesmen and sales clerks (nec)                      9966
Laborers (nec)                                       8336
                                                    ...
Statistics-Professors and instructors                   2
Auto mechanics apprentice                               2
Milliners                                               1
Nurses, student professional                            1
Natural science (nec)-Professors and instructors        1
Name: occ1950, Length: 268, dtype: int64

In [35]:
census = census.dropna()

In [36]:
census.isnull().sum()

nchild             0
nchild_under_5     0
nsibs              0
eldch              0
sex                0
age                0
ed_var_detailed    0
occ1950            0
ed_group_h         0
dtype: int64

In [38]:
#one-hot encoding for jobs strings
factor = pd.factorize(census['occ1950'])
census.occ1950 = factor[0]
definitions = factor[1]
print(census.occ1950.head())
print(definitions)
#census['occ1950_encoded'] = pd.factorize(census.occ1950)[0]
#census.head(10)

0    0
1    1
2    2
3    1
4    3
Name: occ1950, dtype: int64
Index(['Operative and kindred workers (nec)',
       'Managers, officials, and proprietors (nec)', 'Foremen (nec)',
       'Salesmen and sales clerks (nec)', 'Purchasing agents and buyers (nec)',
       'Lumbermen, raftsmen, and woodchoppers', 'Bookkeepers', 'Carpenters',
       'Clerical and kindred workers (n.e.c.)',
       'Gardeners, except farm and groundskeepers',
       ...
       'Apprentices, other specified trades', 'Misc social scientists',
       'Mathematicians', 'Telegraph messengers', 'Demonstrators',
       'Apprentices, building trades (nec)', 'Bootblacks', 'Milliners',
       'Nurses, student professional',
       'Natural science (nec)-Professors and instructors'],
      dtype='object', length=268)

In [39]:
#census.drop(['occ1950'], axis=1, inplace=True)

In [40]:
census.head(15)

,nchild,nchild_under_5,nsibs,eldch,sex,age,ed_var_detailed,occ1950,ed_group_h
0,0,0,0,0,0,43,11,0,1
1,0,0,0,0,0,28,16,1,2
2,3,0,0,15,0,36,14,2,1
3,0,0,0,0,0,48,5,1,1
4,2,2,0,2,0,27,15,3,1
5,0,0,0,0,0,60,16,4,2
7,0,0,0,0,0,69,6,5,1
8,0,0,0,0,0,44,11,1,1
9,0,0,1,0,0,54,22,6,4
10,0,0,0,0,0,73,12,2,1
11,4,0,0,21,0,55,11,7,1
12,0,0,0,0,1,47,14,8,1
13,0,0,0,0,0,53,10,9,1
14,2,0,0,12,0,43,19,1,3
15,0,0,0,0,0,44,14,0,1

In [41]:
#import a dict from excel datasheets columns
import xlrd
wb = xlrd.open_workbook('./jobs_dict.xlsx')
worksheet = wb.sheet_by_index(0)   
my_dict = {}
for i in range(1, worksheet.nrows):
    row = worksheet.row_values(i)
    my_dict[row[0]] = row[1]

print(my_dict)

{0.0: 'Accountants and auditors', 10.0: 'Actors and actresses', 12.0: 'Airplane pilots and navigators', 13.0: 'Architects', 14.0: 'Artists and art teachers', 15.0: 'Athletes', 20.0: 'Authors', 21.0: 'Chemists', 22.0: 'Chiropractors', 23.0: 'Clergymen', 30.0: 'College presidents and deans', 31.0: 'Agricultural sciences-Professors and instructors', 32.0: 'Biological sciences-Professors and instructors', 34.0: 'Chemistry-Professors and instructors', 35.0: 'Economics-Professors and instructors', 40.0: 'Engineering-Professors and instructors', 41.0: 'Geology and geophysics-Professors and instructors', 42.0: 'Mathematics-Professors and instructors', 43.0: 'Medical Sciences-Professors and instructors', 45.0: 'Physics-Professors and instructors', 50.0: 'Psychology-Professors and instructors', 51.0: 'Statistics-Professors and instructors', 52.0: 'Natural science (nec)-Professors and instructors', 53.0: 'Social sciences (nec)-Professors and instructors', 54.0: 'Non-scientific subjects-Professors and instructors', 60.0: 'Subject not specified-Professors and instructors', 70.0: 'Dancers and dancing teachers', 71.0: 'Dentists', 72.0: 'Designers', 73.0: 'Dietitians and nutritionists', 74.0: 'Draftsmen', 75.0: 'Editors and reporters', 80.0: 'Aeronautical-Engineers', 81.0: 'Chemical-Engineers', 82.0: 'Civil-Engineers', 83.0: 'Electrical-Engineers', 84.0: 'Industrial-Engineers', 85.0: 'Mechanical-Engineers', 90.0: 'Metallurgical, metallurgists-Engineers', 91.0: 'Mining-Engineers', 92.0: 'Engineers (nec)', 93.0: 'Engineers (nec)', 101.0: 'Entertainers (nec)', 102.0: 'Farm and home management advisors', 103.0: 'Foresters and conservationists', 104.0: 'Funeral directors and embalmers', 105.0: 'Lawyers and judges', 111.0: 'Librarians', 120.0: 'Musicians and music teachers', 130.0: 'Agricultural scientists', 131.0: 'Biological scientists', 134.0: 'Geologists and geophysicists', 135.0: 'Mathematicians', 140.0: 'Physicists', 145.0: 'Misc. natural scientists', 150.0: 'Nurses, professional', 151.0: 'Nurses, student professional', 152.0: 'Optometrists', 153.0: 'Osteopaths', 154.0: 'Personnel and labor relations workers', 160.0: 'Pharmacists', 161.0: 'Photographers', 162.0: 'Physicians and surgeons', 163.0: 'Editors and reporters', 164.0: 'Radio operators', 165.0: 'Recreation and group workers', 170.0: 'Religious workers', 171.0: 'Social and welfare workers, except group', 172.0: 'Economists', 173.0: 'Psychologists', 174.0: 'Statisticians and actuaries', 175.0: 'Misc social scientists', 180.0: 'Sports instructors and officials', 181.0: 'Surveyors', 182.0: 'Teachers (n.e.c.)', 185.0: 'Medical and dental-technicians', 190.0: 'Technicians (nec)', 191.0: 'Testing-technicians', 193.0: 'Therapists and healers (nec)', 194.0: 'Veterinarians', 195.0: 'Professional, technical and kindred workers (nec)', 200.0: 'Farmers (owners and tenants)', 222.0: 'Farm managers', 250.0: 'Buyers and dept heads, store', 251.0: 'Buyers and shippers, farm products', 252.0: 'Conductors, railroad', 253.0: 'Credit men', 254.0: 'Floormen and floor managers, store', 260.0: 'Inspectors, public administration', 262.0: 'Managers and superintendants, building', 265.0: 'Officers, pilots, pursers and engineers, ship', 270.0: 'Officials and administratators (nec), public administration', 275.0: 'Officials, lodge, society, union, etc.', 280.0: 'Postmasters', 285.0: 'Purchasing agents and buyers (nec)', 290.0: 'Managers, officials, and proprietors (nec)', 301.0: 'Agents (nec)', 302.0: 'Attendants and assistants, library', 303.0: 'Attendants, physicians and dentists office', 304.0: 'Baggagemen, transportation', 305.0: 'Bank tellers', 310.0: 'Bookkeepers', 312.0: 'Cashiers', 313.0: 'Collectors, bill and account', 314.0: 'Dispatchers and starters, vehicle', 315.0: 'Express messengers and railway mail clerks', 320.0: 'Clerical and kindred workers (n.e.c.)', 321.0: 'Insurance agents and brokers', 323.0: 'Mail carriers', 324.0: 'Messengers and office boys', 325.0: 'Office machine operators', 342.0: 'Stenographers, typists, and secretaries', 343.0: 'Shipping and receiving clerks', 351.0: 'Telegraph messengers', 352.0: 'Telegraph operators', 353.0: 'Telephone operators', 354.0: 'Ticket, station, and express agents', 380.0: 'Advertising agents and salesmen', 381.0: 'Auctioneers', 382.0: 'Demonstrators', 383.0: 'Hucksters and peddlers', 390.0: 'Newsboys', 393.0: 'Real estate agents and brokers', 394.0: 'Salesmen and sales clerks (nec)', 395.0: 'Stock and bond salesmen', 401.0: 'Bakers', 402.0: 'Blacksmiths', 403.0: 'Boilermakers', 404.0: 'Bookbinders', 405.0: 'Brickmasons,stonemasons, and tile setters', 410.0: 'Cabinetmakers', 411.0: 'Carpenters', 413.0: 'Cement and concrete finishers', 414.0: 'Compositors and typesetters', 415.0: 'Cranemen,derrickmen, and hoistmen', 420.0: 'Decorators and window dressers', 421.0: 'Electricians', 423.0: 'Electrotypers and stereotypers', 424.0: 'Engravers, except photoengravers', 425.0: 'Excavating, grading, and road machinery operators', 430.0: 'Foremen (nec)', 431.0: 'Forgemen and hammermen', 432.0: 'Furriers', 434.0: 'Glaziers', 435.0: 'Heat treaters, annealers, temperers', 444.0: 'Inspectors, scalers, and graders log and lumber', 450.0: 'Inspectors (nec)', 451.0: 'Jewelers, watchmakers, goldsmiths, and silversmiths', 452.0: 'Job setters, metal', 453.0: 'Linemen and servicemen, telegraph, telephone, and power', 454.0: 'Locomotive engineers', 460.0: 'Locomotive firemen', 461.0: 'Loom fixers', 465.0: 'Machinists', 470.0: 'Mechanics and repairmen (nec)', 471.0: 'Airplane-mechanics and repairmen', 472.0: 'Automobile-mechanics and repairmen', 473.0: 'Office machine-mechanics and repairmen', 474.0: 'Radio and television-mechanics and repairmen', 475.0: 'Railroad and car shop-mechanics and repairmen', 490.0: 'Millers, grain, flour, feed, etc', 491.0: 'Millwrights', 492.0: 'Molders, metal', 493.0: 'Motion picture projectionists', 494.0: 'Opticians and lens grinders and polishers', 495.0: 'Painters, construction and maintenance', 501.0: 'Paperhangers', 502.0: 'Pattern and model makers, except paper', 503.0: 'Photoengravers and lithographers', 504.0: 'Piano and organ tuners and repairmen', 505.0: 'Plasterers', 510.0: 'Plumbers and pipe fitters', 512.0: 'Pressmen and plate printers, printing', 513.0: 'Rollers and roll hands, metal', 514.0: 'Roofers and slaters', 515.0: 'Shoemakers and repairers, except factory', 520.0: 'Stationary engineers', 521.0: 'Stone cutters and stone carvers', 523.0: 'Structural metal workers', 524.0: 'Tailors and tailoresses', 525.0: 'Tinsmiths, coppersmiths, and sheet metal workers', 530.0: 'Tool makers, and die makers and setters', 535.0: 'Upholsterers', 545.0: 'Craftsmen and kindred workers (nec)', 601.0: 'Auto mechanics apprentice', 602.0: 'Bricklayers and masons apprentice', 603.0: 'Carpenters apprentice', 604.0: 'Electricians apprentice', 605.0: 'Machinists and toolmakers apprentice', 610.0: 'Mechanics, except auto apprentice', 612.0: 'Plumbers and pipe fitters apprentice', 613.0: 'Apprentices, building trades (nec)', 614.0: 'Apprentices, metalworking trades (nec)', 615.0: 'Apprentices, printing  trades', 620.0: 'Apprentices, other specified trades', 621.0: 'Apprentices, trade not specified', 630.0: 'Asbestos and insulation workers', 631.0: 'Operative and kindred workers (nec)', 632.0: 'Attendants, auto service and parking', 634.0: 'Blasters and powdermen', 635.0: 'Boatmen, canalmen, and lock keepers', 640.0: 'Brakemen, railroad', 641.0: 'Bus drivers', 642.0: 'Chainmen, rodmen, and axmen, surveying', 645.0: 'Conductors, bus and street railway', 650.0: 'Deliverymen and routemen', 651.0: 'Dressmakers and seamstresses, except factory', 652.0: 'Dyers', 653.0: 'Filers, grinders, and polishers, metal', 654.0: 'Fruit, nut, and vegetable graders, and packers, except facto', 670.0: 'Furnacemen, smeltermen and pourers', 672.0: 'Heaters, metal', 674.0: 'Laundry and dry cleaning Operatives', 675.0: 'Meat cutters, except slaughter and packing house', 680.0: 'Milliners', 685.0: 'Mine operatives and laborers', 690.0: 'Motormen, mine, factory, logging camp, etc', 691.0: 'Motormen, street, subway, and elevated railway', 692.0: 'Oilers and greaser, except auto', 694.0: 'Painters, except construction or maintenance', 695.0: 'Photographic process workers', 701.0: 'Power station operators', 703.0: 'Sailors and deck hands', 704.0: 'Sawyers', 710.0: 'Spinners, textile', 712.0: 'Stationary firemen', 713.0: 'Switchmen, railroad', 714.0: 'Taxicab drivers and chauffeurs', 715.0: 'Truck and tractor drivers', 720.0: 'Weavers, textile', 721.0: 'Welders and flame cutters', 801.0: 'Private household workers (nec)', 802.0: 'Housekeepers, private household', 803.0: 'Laundresses, private household', 810.0: 'Attendants, hospital and other institution', 812.0: 'Attendants, professional and personal service (nec)', 813.0: 'Attendants, recreation and amusement', 815.0: 'Bartenders', 820.0: 'Bootblacks', 821.0: 'Boarding and lodging house keepers', 824.0: 'Charwomen and cleaners', 825.0: 'Cooks, except private household', 830.0: 'Counter and fountain workers', 831.0: 'Elevator operators', 832.0: 'Housekeepers and stewards, except private household', 834.0: 'Janitors and sextons', 841.0: 'Porters', 842.0: 'Practical nurses', 843.0: 'Barbers, beauticians, and manicurists', 850.0: 'Firemen, fire protection', 851.0: 'Guards, watchmen, and doorkeepers', 852.0: 'Marshals and constables', 853.0: 'Policemen and detectives', 854.0: 'Sheriffs and bailiffs', 860.0: 'Watchmen (crossing) and bridge tenders', 874.0: 'Ushers, recreation and amusement', 875.0: 'Waiters and waitresses', 890.0: 'Service workers, except private household (nec)', 901.0: 'Farm foremen', 902.0: 'Farm laborers, wage workers', 903.0: 'Farm laborers, unpaid family workers', 905.0: 'Farm service laborers, self-employed', 962.0: 'Fishermen and oystermen', 963.0: 'Garage laborers and car washers and greasers', 964.0: 'Gardeners, except farm and groundskeepers', 965.0: 'Longshoremen and stevedores', 970.0: 'Lumbermen, raftsmen, and woodchoppers', 971.0: 'Teamsters', 972.0: 'Laborers (nec)', 995.0: 'Members of the armed services'}

## TODO: Convert columns from object into int types. 

https://stackoverflow.com/questions/39173813/pandas-convert-dtype-object-to-int

In [42]:
census.dtypes

nchild             object
nchild_under_5     object
nsibs              object
eldch              object
sex                 int64
age                object
ed_var_detailed     int64
occ1950             int64
ed_group_h          int64
dtype: object

In [44]:
census.nchild = census['nchild'].astype('int')
census.nchild_under_5 = census['nchild_under_5'].astype('int')
census.nsibs = census['nsibs'].astype('int')
census.eldch = census['eldch'].astype('int')
census.age = census['age'].astype('int')
census.sex = census['sex'].astype('int')
census.head(10)

,nchild,nchild_under_5,nsibs,eldch,sex,age,ed_var_detailed,occ1950,ed_group_h
0,0,0,0,0,0,43,11,0,1
1,0,0,0,0,0,28,16,1,2
2,3,0,0,15,0,36,14,2,1
3,0,0,0,0,0,48,5,1,1
4,2,2,0,2,0,27,15,3,1
5,0,0,0,0,0,60,16,4,2
7,0,0,0,0,0,69,6,5,1
8,0,0,0,0,0,44,11,1,1
9,0,0,1,0,0,54,22,6,4
10,0,0,0,0,0,73,12,2,1

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib


y = census['ed_group_h']
X = census.drop(labels=['ed_group_h', 'ed_var_detailed'], axis=1)
#X.head(5)

# Creating the Training and Test set from data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 21)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Fitting Random Forest Classification to the Training set
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 42)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)
#Reverse factorize (converting y_pred from 0s,1s and 2s to Iris-setosa, Iris-versicolor and Iris-virginica
reversefactor = dict(zip(range(3),definitions))
y_test = np.vectorize(reversefactor.get)(y_test)
y_pred = np.vectorize(reversefactor.get)(y_pred)
# Making the Confusion Matrix
print(pd.crosstab(y_test, y_pred, rownames=['Actual groups'], colnames=['Predicted groups']))

prediction_test = classifier.predict(X_test)
#print(y_test, prediction_test)

from sklearn import metrics
#Print the prediction accuracy
print ("Accuracy = ", metrics.accuracy_score(y_test, prediction_test))

In [62]:
#saving your data
census.to_csv('cleaned_census.csv')